<div class="footer-top">
	<div>
		<i class="far fa-clock"></i> Mon-Sat: 7:00am-7:00pm
	</div>
	<div class="social-media">
		<a href="https://www.facebook.com/Never-Clog-Gutters-101120068435102/" target="_blank" class="facebook"><i class="fab fa-facebook-f"></i></a>
		<a href="https://twitter.com/ClogNever/" target="_blank" class="twitter"><i class="fab fa-twitter"></i></a>
		<a href="https://www.linkedin.com/" target="_blank" class="linkedin" hidden><i class="fab fa-linkedin-in"></i></a>
		<a href="https://www.youtube.com/" target="_blank" class="youtube" hidden><i class="fab fa-youtube"></i></a>
		<a href="https://www.instagram.com/nevercloggutters/" class="instagram" target="_blank"><i class="fab fa-instagram"></i></a>
	</div>
</div>
<div class="footer-bottom">
	Copyright © <span class="current-yesr">2021</span> Never Clog Gutters. All Rights Reserved.
</div>