<section class="grid-7 footer-top">
    <div class="grid-col-3 logo desktop-only">
        <img src="images/NeverClogGutters.svg" height="100" />
    </div>
    <div class="grid-col-4-6 contact align-center">
        <div class="grid-3">
            <div class="grid-col-1"><a href="tel:999-555-1234"><i class="fas fa-phone"></i> 999-555-1234</a></div>
            <div class="grid-col-2"><a href="https://maps.google.com/" target="_blank"><i class="fas fa-map-marker-alt"></i> 123 Main St</a></div>
            <div class="grid-col-3"><a class="button">Free Estimate</a></div>
        </div>
        <iframe hidden src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2962.5912061222434!2d-88.0344001852761!3d42.05194556249733!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880faf8d5a85c343%3A0xfbe44cc77abcac2!2s1900%20E%20Golf%20Rd%20%23950%2C%20Schaumburg%2C%20IL%2060173!5e0!3m2!1sen!2sus!4v1611334019980!5m2!1sen!2sus" width="200" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</section>
<section class="grid-1 footer-mobile mobile-only">
    <div class="justify-center">
        <i class="far fa-clock"></i> hours :
        <a href="mailto:info@nevercloggutters.com"><i class="far fa-envelope"></i> info@nevercloggutters.com</a>
    </div>
    <div class="grid-row-2 justify-center">
        <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
    </div>
</section>
<section class="grid-1 footer-bottom">
    <div>
        Copyright © <span class="current-yesr">2021</span> Never Clog Gutters. All Rights Reserved.
    </div>
</section>