<div class="contact">
	<a href="tel:866-491-3711" class="phone"><i class="fas fa-phone"></i> 866.491.3711</a>
</div>
<div>
	<a href="mailto:info@nevercloggutters.com" class="email"><i class="far fa-envelope"></i> info@nevercloggutters.com</a>
</div>
<div class="social-media">
	<a href="https://www.facebook.com/Never-Clog-Gutters-101120068435102/" target="_blank" class="facebook"><i class="fab fa-facebook-f"></i></a>
	<a href="https://twitter.com/ClogNever/" target="_blank" class="twitter"><i class="fab fa-twitter"></i></a>
	<a href="https://www.linkedin.com/" target="_blank" class="linkedin" hidden><i class="fab fa-linkedin-in"></i></a>
	<a href="https://www.youtube.com/" target="_blank" class="youtube" hidden><i class="fab fa-youtube"></i></a>
	<a href="https://www.instagram.com/nevercloggutters/" class="instagram" target="_blank"><i class="fab fa-instagram"></i></a>
</div>