$primary-color: rgba(252, 100, 0, 1);
$secondary-color: rgba(18, 9, 92, 1);
$ternary-color: rgba(27, 186, 248, 1);

$light-gray: rgba(128, 128, 128, .5);
$translucent: rgba(255, 255, 255, .7);

$default-text: rgba(30, 30, 42, 1);