.align-center
{
	align-self: center;
}

.align-end
{
	align-self: end;
}

.justify-end
{
	justify-self: end;
}

.justify-center
{
	justify-self: center;
}

.upper-right {
	position: absolute;
	top: 0;
	right: 0;
	padding-top: 5px;
	padding-right: 5px;
}

.center {
	text-align: center;
}

.center-content {
	display: flex;
	justify-content: center;
}

.justify-content {
	text-align: justify;
}