/* http://meyerweb.com/eric/tools/css/reset/
   v2.0b1 | 201101
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 13px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  vertical-align: baseline; }

a, i, span {
  font-size: unset; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define visible focus styles!
:focus {
	outline: ?????;
} */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clear-styles * {
  font-size: unset; }

a, a:hover, a:active, a:focus, a:visited {
  color: unset;
  text-decoration: none; }

.align-center {
  align-self: center; }

.align-end {
  align-self: end; }

.justify-end {
  justify-self: end; }

.justify-center {
  justify-self: center; }

a.button {
  background-color: #fc6400;
  border: 1px solid #fc6400;
  border-radius: 24px;
  padding: 14px 28px;
  color: white;
  font-weight: 700;
  font-size: 16px;
  transition: background-color .5s; }
  a.button:hover {
    background-color: white;
    color: #fc6400;
    cursor: pointer; }

ul.main-menu {
  display: flex; }
  ul.main-menu li {
    margin-right: 10px;
    padding: 10px 5px; }
    ul.main-menu li a {
      font-size: 20px; }
      ul.main-menu li a.active {
        color: #fc6400; }
    ul.main-menu li.divider {
      padding: 0;
      width: 0;
      border-right: 1px solid rgba(128, 128, 128, 0.5); }
    ul.main-menu li.has-sub-menu ul.sub-menu {
      display: none;
      /*border: 1px solid $light-gray;*/ }
      ul.main-menu li.has-sub-menu ul.sub-menu li {
        border: none; }
        ul.main-menu li.has-sub-menu ul.sub-menu li.divider {
          padding: 0;
          height: 0;
          border-bottom: 1px solid rgba(128, 128, 128, 0.5);
          margin-right: 0; }
    ul.main-menu li.has-sub-menu:hover ul.sub-menu {
      display: block;
      position: absolute;
      margin-top: 10px;
      margin-left: -6px;
      /* value equal to left padding and border of parent li */ }

body {
  font-family: arial; }

/*.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}*/
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-template-rows: auto 1fr auto;
  min-height: 100vh; }

@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto; } }

header {
  grid-column: span 3;
  padding: 30px;
  text-align: center;
  font-size: 1.4em;
  background-color: #369;
  color: white; }

main {
  flex: 1;
  padding: 20px; }

nav {
  background-color: #f90;
  padding: 20px; }

aside {
  padding: 20px;
  background-color: #936; }

footer {
  grid-column: span 3;
  padding: 30px;
  text-align: center;
  font-size: 1.4em;
  background-color: #690;
  color: white; }

h1 {
  margin-bottom: 1em;
  font-size: 1.3em;
  font-weight: bold; }
